@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(0, 10, 125, 0.642);
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.518);
    transition: width 0.25s, height 0.25s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#imagem {
    background: url(../img/pexels-pixabay-258160.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 4px;
}

div#formulario > p {
    font-size: 1em;
    margin-bottom: 2px;
}

form > div.campo {
    background-color: rgba(0, 10, 125, 0.642);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    font-size: 2em;
    width: 38px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(174, 216, 221);
    font-size: 1em;
    width: calc(100% - 43px);
    height: 98%;
    border-radius: 5px;
    border: 3px solid #5B61AB;
    padding: 4px;
    transform: translateY(-10px);
}
div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(47, 136, 148);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


a.botao {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 8px;
    margin-top: 5px;
}

a.botao:hover {
    background-color: rgb(62, 173, 188);
    color: white;
}

a.botao > span {
    font-size: 0.9em;
}

